<p id="notice"><%= notice %></p>

<p>
  <strong>Clue:</strong>
  <%= @question.clue %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Value:</strong>
  <%= @question.value %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
