<%= form_with(model: clue, local: true) do |form| %>
  <% if clue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clue.errors.count, "error") %> prohibited this clue from being saved:</h2>

      <ul>
      <% clue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phrase %>
    <%= form.text_field :phrase %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
